*{
  margin: 0px;
  padding: 0px;
}
.start-Game-btn{
  background-color: rgb(71, 71, 177);
  color: white;
  padding: 8px 40px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  border-width: 0px;
}
.game-container{
  background-color: rgb(66, 30, 66);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-details{
  color: white;
  /* display: flex;
  /* justify-content: start;
  align-items: center;
  /* flex-direction: column; */
  /* align-items: center; */

}
/* .game-started{
  padding-top: 20px;
  padding-bottom: 200px;
}
.timer{
  padding-top: 20px;
} */
.input-block{
  display: block;
  border-width: 0px;
}
.indication{
  background-color: white;
  color: black;
}
